
.container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-sidenav-content {
  padding-top: 24px;
  padding-bottom: 24px; 
  padding-left: 20px;
}

.contenido{
  flex:1;
}
.menu-barra{
  width: 15%;
}
.box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}

/* .list-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
} */
.menu-container{
  
}
.imagen-perfil{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.menu-perfil{
  width: 2000px;
  height: 2000px;

}


