
.container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sidenav-btn-box{
  width: 100%;
  padding:5px;
  margin-left: 10px;
}

.mat-sidenav-content {
  padding-top: 24px;
  padding-bottom: 24px; 
  padding-left: 20px;
}
.sidenav-subtitulo{
  font-size: 20px;
  margin-top: 10px!important;
}

.contenido{
  flex:1;
}
.menu-barra{
  width: 20%;
}
.box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}
.texto-blanco{
  color: white;
}
.imagen-perfil{
  align-content: center;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.mail-perfil{
  padding-right: 20px;
  padding-left: 20px;
}
.boton-logout{
  margin-top: 20px;
  margin-bottom: 20px;
}

