<div class="container">
  <mat-toolbar color="primary">
    <!-- contenido superior del toolbar -->
    <div fxShow="true" fxFlex fxLayout> 
      <div fxFlex>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div fxFlex fxLayoutAlign="center center">
        Search bar  
      </div>
      <div fxFlex fxLayoutAlign="flex-end center">
        <button mat-mini-fab [matMenuTriggerFor]="menu" color='primary'><mat-icon>account_circle</mat-icon></button>
      </div>
    </div>
  </mat-toolbar>
  <!-- Lista de navegacion que esta en el sidenav -->
  <mat-sidenav-container class="contenido">
  <mat-sidenav mode="side" [(opened)]="opened" class="menu-barra">
    <mat-list>
      <div mat-subheader class="sidenav-subtitulo">Apartamentos</div>
      <mat-list-item *ngFor="let opc of Apto">
        <a mat-flat-button class="sidenav-btn-box">
          <div fxShow="true" fxFlex fxLayout>
            <div *ngIf="opc.relleno == true"><mat-icon mat-list-icon>{{opc.icono}}</mat-icon></div>
            <div *ngIf="opc.relleno == false"><mat-icon mat-list-icon class="material-icons-outlined">{{opc.icono}}</mat-icon></div>
            <div mat-line> {{opc.tipo}} </div>
          </div>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader class="sidenav-subtitulo">Notas</div>
      <mat-list-item *ngFor="let opc of Notas">
        <a mat-flat-button class="sidenav-btn-box">
          <div fxShow="true" fxFlex fxLayout >
            <mat-icon mat-list-icon>{{opc.icono}}</mat-icon>
            <div mat-line> {{opc.tipo}} </div>
          </div>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Contenido del home en donde el router-outlet navega entre componentes -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
<!-- Menu de usuario que despliega el logout de sesion -->
<mat-menu xPosition="before" #menu="matMenu" class="caja-menu">
  <div class="menu-container" fxShow fxLayout="column" fxLayoutAlign="center center">
    <h2 class="mat-title texto-blanco">Emii Shiba</h2>
    <h3 class="mat-h3 texto-blanco mail-perfil">emi.bayona22@gmail.com</h3>
    <img class="imagen-perfil" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    <mat-divider></mat-divider>
    <button mat-raised-button color="accent" class="boton-menu" (click)="abrirDialogoConfiguracion()">Configuraciones <mat-icon>settings</mat-icon></button>
    <button mat-raised-button color="accent" class="boton-menu boton-logout">Desconectarse <mat-icon>login</mat-icon></button>
  </div>
</mat-menu>