<div class="contenedor">
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icono-tab">house</mat-icon>
        Ingresos
      </ng-template>
      Tabla con Fab para agregar un ingreso
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icono-tab">apartment</mat-icon>
        Ocupados
      </ng-template>
      <div class="contenedorTabla">
        <ng-container *ngTemplateOutlet='tabla'> </ng-container>
      </div>
      
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon mat-list-icon class="material-icons-outlined icono-tab">house</mat-icon>
        Egresos
      </ng-template>
  
      Listado con los egresos del ultimo dia, configurable a 3 dias o una semana 
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #tabla>
  <!-- <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej: 1" #input>
  </mat-form-field> -->

  <mat-table [dataSource]="listaUsuarios" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="usuario">
      <mat-header-cell *matHeaderCellDef> username </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <mat-header-cell *matHeaderCellDef> phone </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="website">
      <mat-header-cell *matHeaderCellDef> website </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.website}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>

    <!-- <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
    </tr> -->
  </mat-table>
</ng-template>